
.landing-wrapper {
    width: 99.9%;
    height: 26rem;
    padding:0;
    position: relative;
    overflow:hidden;
    cursor:pointer;
  }
  
  .landing-inner-content {
    width: 210rem;
    height: 280px;
  }

.footer-card:hover {
    background-color: #78eed4;
}
